@use "../core" as *;

.banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: stretch;

  @media (max-width: $xl) {
    grid-template-columns: 1fr;
  }

  /* BIG CARD */
  &__big-card {
    grid-row: 1 / 3;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    max-height: 540px;

    @media (max-width: $sm) {
      border-radius: 24px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__big-card-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    color: white;

    @media (max-width: $sm) {
      bottom: 24px;
      left: 24px;
      right: 24px;
    }
  }

  &__card-title {
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    line-height: 140%;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  &__card-text {
    font-size: 16px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;
  }

  &__small-card {
    background: var(--color-secondary);
    border-radius: 32px;
    color: var(--color-dark);
    position: relative;
    overflow: hidden;
    min-height: 250px;

    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: center;

    grid-column: 2;
    width: 100%;
    gap: 12px;

    @media (max-width: $xl) {
      grid-column: 1;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $sm) {
      border-radius: 24px;
    }
  }

  &__small-info {
    padding: 32px 16px 32px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: $md) {
      padding: 24px 16px;
      height: auto;
    }
  }

  &__small-icon {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.522 23.124 22.146 10.5M9.522 9.522h13.603v13.602" stroke="%23000" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/></svg>')
      no-repeat center center #fff;
    margin-bottom: auto;
  }

  &__small-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
    max-width: 50%;

    @media (max-width: $xl) {
      width: 50%;
    }

    @media (max-width: $lg) {
      width: 360px;
    }

    @media (max-width: $md) {
      position: relative;
      width: 100%;
      max-width: 100%;
      max-height: 300px;
    }

    @media (max-width: $sm) {
      border-radius: 24px;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: right bottom;

      @media (max-width: $md) {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: $xl) {
    &__big-card {
      grid-row: auto;
    }
  }
}
