@use "../core" as *;

.contact {
  &__container {
    position: relative;

    @media (max-width: $md) {
      padding: 0;
    }
  }

  &__inner {
    background: var(--color-primary);
    border-radius: 24px;
    padding-block: clamp(32px, 6vw, 80px) clamp(24px, 6vw, 34px);
    padding-inline: clamp(24px, 6vw, 64px);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.95fr);
    gap: clamp(32px, 5vw, 80px);
    color: var(--color-light);
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 950px;
      height: 430px;
      background: url('data:image/svg+xml,<svg width="953" height="437" viewBox="0 0 953 437" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="498.57" cy="391.938" rx="524" ry="357" transform="rotate(-24.9283 498.57 391.938)" fill="white" fill-opacity="0.05"/></svg>')
        no-repeat center center;
      z-index: 0;
      background-size: cover;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  &__overtitle {
    color: var(--color-light);
  }

  &__title {
    margin-bottom: clamp(32px, 4vw, 64px);
    color: var(--color-light);
  }

  &__meta {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__meta-icon {
    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }

  &__meta-text {
    color: var(--color-light);
    font-size: 20px;
    line-height: 1.4;
    text-decoration: none;
    transition: color var(--transition-fast) ease;
    opacity: 0.9;

    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
  }

  &__form {
    position: relative;
    z-index: 1;
    width: 495px;
    margin-left: auto;

    @media (max-width: $xl) {
      width: 100%;
      margin: auto;
      max-width: 495px;
    }
  }

  @media (max-width: $lg) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}
