.faq {
  &__title {
    margin-bottom: clamp(40px, 4vw, 64px);
    text-align: center;
  }

  &__list {
    max-width: 1034px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /* ---------- ITEM ---------- */
  &__item {
    border-radius: 32px;
    background: #fff;
    overflow: hidden;
    transition: background-color 0.3s ease;
    border: 1.5px solid #e4e4e4;

    &.active {
      background: $color-primary;

      .faq__question {
        color: #fff;
        padding-bottom: 32px;
      }

      .faq__arrow {
        transform: rotate(270deg);
        background-image: none;
        mask-image: $icon-chevron-mask;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 24px;
        background-color: #fff;
      }

      .faq__answer {
        max-height: 240px;
        opacity: 1;
        padding-top: 14px;
        padding-bottom: 26px;
      }
    }
  }

  /* ---------- QUESTION ---------- */
  &__question {
    width: 100%;
    background: none;
    border: none;
    padding: 40px 32px;
    font-size: 19px;
    font-weight: 500;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;

    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }

  /* ---------- LEFT ICON ---------- */
  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #268cd0;
    flex-shrink: 0;

    @include flex-center;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      transition: filter 0.3s ease;
    }
  }

  /* ---------- CHEVRON ---------- */
  &__arrow {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    background-image: $icon-chevron;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transform: rotate(90deg);

    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: center;
    margin-left: auto;
  }

  /* ---------- ANSWER ---------- */
  &__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    padding: 0 36px 0 96px;
    transition: all 0.3s ease;
    color: #fff;

    p {
      font-size: 16px;
      line-height: 1.6;
    }
  }
}
