@use "../core" as *;

.projects {
  --container-width: calc(
    var(--container-narrow-width) + var(--container-padding) * 2
  );

  /* Grid layout */
  &__container {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    gap: 60px;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: $xl) {
      text-align: center;
      display: block;
    }
  }

  &__title {
    margin-bottom: 56px;

    @media (max-width: $xl) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    margin-bottom: 24px;
  }

  /* Rating */
  &__rating {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: $xl) {
      justify-content: center;
    }
  }

  &__stars {
    color: #fabb05;
    font-size: 25px;
    line-height: 1;
  }

  &__reviews {
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 1.3;
  }

  &__slider {
    position: relative;
    overflow: hidden;

    /* expands only to the right side */
    margin-right: calc((100vw - var(--container-width)) / -2);
    width: auto;

    // fade mask on right
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      pointer-events: none;

      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );

      @media (max-width: 1400px) {
        display: none;
      }
    }

    @media (max-width: 1400px) {
      margin-right: 0;
    }
    @media (max-width: $lg) {
      width: 100%;
    }
  }

  &__track {
    display: flex;
    gap: 24px;
    will-change: transform;
    transition: transform 0.45s ease;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  /* SLIDE CARD */
  &__slide {
    flex: 0 0 600px;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    background: #000;
    height: 100%;
    min-height: 500px;
    transition: transform 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    @media (max-width: $md) {
      flex: 0 0 80vw; /* mobile-friendly */
      min-height: 360px;
    }
  }

  /* Caption at bottom */
  &__caption {
    position: absolute;
    bottom: 30px;
    left: 28px;
    right: 28px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.5px);

    padding: 16px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 13px;
    text-align: center;
  }

  &__icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease;
    @include flex-center;

    &::after {
      content: "";
      display: block;
      background: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.522 23.124 22.146 10.5M9.522 9.522h13.603v13.602" stroke="%23fff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/></svg>')
        no-repeat center center;
      width: 33px;
      height: 33px;
    }

    &:hover {
      background: var(--color-primary);
    }
  }
}
