@use "../core" as *;

.section-with-heading {
  &__header {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: $lg) {
      gap: 24px;
      flex-direction: column;
    }
  }

  &__header-text {
    max-width: 530px;

    @media (max-width: $lg) {
      text-align: center;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__overtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__action {
    margin: auto 0;
    @media (max-width: $lg) {
      margin: auto;
    }
  }
}
