@use "../core" as *;

.services {
  padding: 80px 0;

  @media (max-width: $md) {
    padding: 60px 0;
  }

  &__overtitle {
    text-align: center;
  }

  &__title {
    text-align: center;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }

  /* GRID */
  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    justify-items: center;

    @media (max-width: $lg) {
      gap: 32px;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* ITEM */
  &__item {
    text-align: center;
    max-width: 420px;
  }

  &__image {
    margin-bottom: 24px;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      display: block;

      @media (max-width: $sm) {
        height: 200px;
      }
    }
  }

  &__item-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: 12px;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.7;
  }
}
