// ======================================
// TYPOGRAPHY
// ======================================

body {
  font-family: $font-main;
  font-size: 16px;
  color: $color-text;
  line-height: 1.6;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 16px;
}

a {
  color: $color-accent;
  text-decoration: none;
}
