// ======================================
// TYPOGRAPHY
// ======================================

body {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.6;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
  margin-bottom: 16px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
