// ======================================
// CONFIG (Local development)
// ======================================

// Colors
$color-primary: #0c3f6b;
$color-accent: #d2ebfb;
$color-light: #ffffff;
$color-dark: #0a263d;
$color-gray: #f3f6f9;
$color-text: #041715;
$color-bg: #ffffff;

// Fonts
$font-main: "Montserrat", sans-serif;

// Container
$container-width: 1376px;
$container-narrow-width: 1352px;
$container-padding: 20px;

// Breakpoints
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 475px;
