$color-bg: #ffffff;
$color-text: #0A263D;
$color-primary: #0C3F6B;
$color-secondary: #D2EBFB;
$color-accent: #245CD0;
$color-highlight: #86BAE8;
$font-main: "Montserrat", sans-serif;
$font-heading: "Montserrat", sans-serif;
$max-layout-width: 1500px;
$mobile-breakpoint: 1000px;
