@use "core/fallback-vars";
@use "core" as *;

// Base
@use "base/reset";
@use "base/typography";
@use "base/animations";

// Layout
@use "layout/header";
@use "layout/footer";

// Blocks
@use "blocks/hero";
@use "blocks/services";
@use "blocks/reviews";
@use "blocks/projects";
@use "blocks/section-with-heading";
@use "blocks/banners";
@use "blocks/faq";
@use "blocks/form";
@use "blocks/contact";
