/* Simple responsive grid */
.container {
  width: 100%;
  max-width: $max-layout-width;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 1 1 0;
  padding: 0 10px;
}
