/* prettier-ignore */
:root {
[[++pagecolor1:ifnotempty=`  --color-primary: #[[++pagecolor1]];`]]
[[++pagecolor2:ifnotempty=`  --color-secondary: #[[++pagecolor2]];`]]
[[++pagecolor3:ifnotempty=`  --color-accent: #[[++pagecolor3]];`]]
[[++color_light:ifnotempty=`  --color-light: #[[++color_light]];`]]
[[++color_dark:ifnotempty=`  --color-dark: #[[++color_dark]];`]]
[[++color_gray:ifnotempty=`  --color-gray: #[[++color_gray]];`]]
[[++body-color:ifnotempty=`  --color-bg: #[[++body-color]];`]]
[[++font-color:ifnotempty=`  --color-text: #[[++font-color]];`]]
[[++pagecolor4:ifnotempty=`  --color-title: #[[++pagecolor4]];`]]

[[++font1:ifnotempty=`  --font-main: [[++font1]];`]]
[[++font2:ifnotempty=`  --font-secondary: [[++font2]];`]]
[[++font2:ifnotempty=`  --title-font: [[++font2]];`]]
[[++font_size:ifnotempty=`  --font-size-base: [[++font_size]]px;`]]
[[++title_size:ifnotempty=`  --title-size: [[++title_size]]px;`]]
[[++title_size:ifnotempty=`  --h1-size: [[++title_size]]px;`]]

[[++font_weight_regular:ifnotempty=`  --font-weight-regular: [[++font_weight_regular]];`]]
[[++font_weight_medium:ifnotempty=`  --font-weight-medium: [[++font_weight_medium]];`]]
[[++font_weight_semibold:ifnotempty=`  --font-weight-semibold: [[++font_weight_semibold]];`]]
[[++font_weight_bold:ifnotempty=`  --font-weight-bold: [[++font_weight_bold]];`]]

[[++ui_radius:ifnotempty=`  --radius: [[++ui_radius]];`]]
[[++section_padding:ifnotempty=`  --section-padding: [[++section_padding]]px;`]]
[[++transition_fast:ifnotempty=`  --transition-fast: [[++transition_fast]];`]]
[[++naviumbruch:ifnotempty=` --header-mobile-breakpoint: [[++naviumbruch]];`]]

[[++maxwidth:ifnotempty=`  --container-width: [[++maxwidth]]px;`]]
[[++container_narrow_width:ifnotempty=`  --container-narrow-width: [[++container_narrow_width]]px;`]]
[[++container_padding:ifnotempty=`  --container-padding: [[++container_padding]]px;`]]
}
